.about_pic {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-content: center;
}

.about_pic > img {
  border: 3px solid #785469;
  max-width:230px;
  height: 250px;
  border-radius: 50px;
}

.about_desc {
  /* border: solid red; */
  width:50%;
  margin: 30px auto;
  text-align: left;
}
