.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}



.resume > h1 {
  color:  hsl(239deg 40% 20%);
  margin-top: 10vh;
}

.resume_icon {
  margin: 0px auto;
}

.resume_icon > a > img {
  width: 50%;
  height: 50%;
}

@media (max-width: 450px) {
  .resume_icon {
    width: auto;
  }
  
}