.home {
  margin-top: 10vh;
}

.pic_container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.pic_container > img {
  max-width: 230px;
  height: auto;
  border-radius: 50px;
  border: 3px solid #785469;
  border-radius: 50px;
}

.title > h1 {
  color: hsl(239deg 40% 20%);
}

.title > h2 {
  color: rgb(61, 61, 111);
}

